/* App.css */
/* App.css or wherever your main styles are */
.user-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.user-card {
  flex: 1 1 calc(25% - 10px); /* Adjust the percentage and margin to fit four cards */
  max-width: calc(25% - 10px); /* Ensures that the card does not exceed 25% width */
  /* ...other styles... */
}


.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 20px;
}

.page-item {
  margin: 0 10px;
  cursor: pointer;
}

.page-link {
  text-decoration: none;
  color: blue;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  
  width: 400px;
}
.childgrid{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}